<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>All</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bib</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>BibTex File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>C File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cpp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>C++ File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Objective-C File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tcl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Tcl File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>py</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Python File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>xml File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tex</string>
				<string>latex</string>
				<string>texi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>LaTeX Source File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cls</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>LaTeX Class File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>R</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>R Code File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>text</string>
				<string>txt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Text File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict> 
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>el</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Emacs Lisp File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cpp</string> 
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>C++ File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict> 
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>h</string> 
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Header File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict> 
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c</string> 
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>C File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict> 
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pl</string>
				<string>pm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Perl File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict> 
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>HTML</string>
				<string>htm</string>
				<string>HTM</string>
				<string>html</string>
				<string>HTML</string>
				<string>shtml</string>
				<string>SHTML</string>
				<string>shtm</string>
				<string>SHTM</string>
				<string>asp</string>
				<string>ASP</string>
				<string>php</string>
				<string>PHP</string>
				<string>php3</string>
				<string>PHP3</string>
				<string>jsp</string>
				<string>JSP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>emacs-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Web File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Plain File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Aquamacs Emacs</string>
	<key>CFBundleGetInfoString</key>
	<string>Aquamacs Emacs 22</string>
	<key>CFBundleName</key>
	<string>Aquamacs Emacs</string>
	<key>CFBundleHelpBookFolder</key>
	 <array>
	   <string>Aquamacs Help</string>
	   <string>Emacs Manual</string>
	</array>
	 <key>CFBundleHelpBookName</key>
	 <array>
	   <string>Aquamacs Help</string>
	   <string>Emacs Manual</string>
	</array>
	<key>CFBundleIconFile</key>
	<string>Emacs.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.gnu.AquamacsEmacs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>EMAx</string>
	<key>CFBundleVersion</key>
	<string>1.2a</string>
	<key>CFBundleShortVersionString</key>
	<string>22</string>
	<key>NSExtensions</key>
	<dict/>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Aquamacs Emacs/Open Selected File</string>
			</dict>
			<key>NSMessage</key>
			<string>open-file</string>
			<key>NSPortName</key>
			<string>Aquamacs Emacs</string>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Aquamacs Emacs/New Buffer Containing Selection</string>
			</dict>
			<key>NSMessage</key>
			<string>open-selection</string>
			<key>NSPortName</key>
			<string>Aquamacs Emacs</string>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Aquamacs Emacs/Send Selection</string>
			</dict>
			<key>NSMessage</key>
			<string>mail-selection</string>
			<key>NSPortName</key>
			<string>Aquamacs Emacs</string>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Aquamacs Emacs/Send To</string>
			</dict>
			<key>NSMessage</key>
			<string>mail-to</string>
			<key>NSPortName</key>
			<string>Aquamacs Emacs</string>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
