/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: serif, "Lucida Grande"; }
.MATH I  { font-family: "Lucida Grande", serif; font-style: italic }
.BOLDMATH { font-family: serif, "Lucida Grande"; font-weight: bold }

/* implement both fixed-size and relative sizes */

body {

margin-left:10px;
margin-right:55px;
color: #000; background-color: #fff; 
}
a        { color: #00f; font-family: Lucida Grande, Arial, sans-serif; text-decoration: none }

h1         { color: #000; font-size: 18pt; font-family: Lucida Grande, Arial, sans-serif; font-weight: 500; letter-spacing: -1pt; padding-top: 12px }

h2        { color: #000; font-size: 11pt; font-family: "Lucida Grande", Arial, sans-serif; font-weight: 300; margin-top: 16px }

h4      { color: #000; font-size: 8pt; font-family: "Lucida Grande", Arial, sans-serif; font-weight: 300; margin-top: 21px }

body,p,li { font-size: 9pt; font-family: Lucida Grande, Arial, sans-serif;  }
a:hover { text-decoration: underline }


img {
    align:left;
}

SMALL.XTINY		{
	font: "Lucida Grande";
}
SMALL.TINY		{
	font: "Lucida Grande";
}
SMALL.SCRIPTSIZE	{
	font: "Lucida Grande";
}
SMALL.FOOTNOTESIZE	{
	font: "Lucida Grande";
}
SMALL.SMALL		{
	font-family: "Lucida Grande";
}
BIG.LARGE		{
	font-family: "Lucida Grande";
}
BIG.XLARGE		{
	font: "Lucida Grande";
}
BIG.XXLARGE		{
	font: "Lucida Grande";
}
BIG.HUGE		{
	font: "Lucida Grande";
}
BIG.XHUGE		{
	font: "Lucida Grande";
}
 

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
